parameters:

  level: 6

  paths:
    - src
    - test

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
       message: "#^Unreachable statement - code above always terminates.$#"
       count: 2
       path: test/ConvertTest.php
